@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {box-sizing:border-box;}
 
*{
    margin: 0px;
    padding:0px;
}
 
body{ width: 100%;
height: 100%;
font-family:'Lato', sans-serif;;
background-color: #E5E9F1;
}
 
h1  {text-align: center;}
p  {text-align: center;}
 

.menu {
    list-style: none;
    height: 80px;
    border-right: 0px #fdfdfd solid;
    width: 100%;
    background-color: white;
    display: inline;
    padding-top: 30px;   
    padding-left: 10px; 
    padding-right: 20px;
    font-size: 20px;
   font-family: sans-serif;
   box-shadow:1px 1px 4px #bebec3;
   text-align: center;
   
}  
#menu1{
    width:12% ;
    padding-top:0px;
    padding-left: 7px;
    display: flex;
} 
#menu2{
    width:35%;
} 
#menu3{
    width: 55%;
}
#menu4{
    width:35% ;
}
#menu5{
    width:25% ;
}
#menu6{
    width:20% ;
}
#menu7{
    width:25% ;
}

a {
    color:black;
    text-decoration: none;
    font-size: 22px;
    padding-top: 10px;
        
}
 
.menu:hover {
    background-color: #E2E6CE;
    transition: 0.3s ease;
    opacity: 0.8;
}
 
 .container{
    display: flex;
   
}
 
#imgcoleta{
    border-bottom: 0px #E5E9F1 solid;
    border-right: 0px #E5E9F1 solid;
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
        
}
 
 
.ul-redes{
    display: none;
    background-color: #E5E9F1;
    width: 266px;
   
}
 
.ul-nav{
    list-style: none;
}
 
.bt1{
    border-bottom: 3px #E5E9F1 solid;    
}
.box {
    display: inline-block;
}
.search-box{
    top: 0%;
    right: 100%;
    height: 80px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:1px 1px 4px #bebec3;
}

.search-box:hover{
    background-color: #E2E6CE;
    transition: 0.3s ease;
    opacity: 0.8;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 1.2vw;
    font-family:'Lato', sans-serif;
    line-height: 20px;
    width: 150px;
    font-weight: 500;
    text-align: center;
}

.botao{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: 0.5s;
}

.search-box:hover > .botao {
    background: #b1ba82;
}

.search-txt::placeholder {
    color: black;
    font: 20px;
    font-family: 'Lato';
}
ol {
    padding: 26px 0px 26px;
    border: 0px solid black;
    background-color: #ffffff;
    ;
    box-shadow:1px 1px 4px #bebec3;
    }
ol:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

    }
    
.btn {
        padding-block: 20px;
        width: 10cm;
        height: 1,6cm;
        margin: 125px;
        font-family: 'Lato';
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 900;
        cursor: pointer;
        border: 0px solid rgb(10, 10, 10);
        background-color: #ffffff;
        text-align: center;
        display: inline-block;
        box-shadow: 3px 6px 9px #bebec3;
        }
        
.btn:hover {
         background-color: #E2E6CE;
         transition: 0.3s ease;
         opacity: 0.8;
         box-shadow:
              10px 10px rgb(89, 157, 73),
              10px 10px rgb(89, 157, 73),
              10px 10px rgb(89, 157, 73);
             -webkit-transform: translateX(-3px);
             transform: translateX(-3px);
             }

  

   