@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {box-sizing:border-box;}
 
*{
    margin: 0px;
    padding:0px;
}

body{ width: 100%;
    height: 100%;
    font-family:'Lato', sans-serif;
    background-color: #E5E9F1;
    }

    .menu {
        list-style: none;
        height: 80px;
        border-right: 2px #fdfdfd solid;
        width: 100%;
        text-align: center;
        background-color: white;
        display: inline;
        padding-top: 30px;   
        padding-left: 10px; 
        padding-right: 23px;
        font-size: 20px;
        font-family: 'Lato';
        box-shadow:1px 1px 4px #bebec3;
    }  
    #menu1{
        width:12%;
        padding-top:0px;
        padding-left: 7px;
        display: flex;
    } 
    #menu2{
        width:35%;
    } 
    #menu3{
        width: 55%;
    }
    #menu4{
        width:35% ;
    }
    #menu5{
        width:25% ;
        background-color: #e2e6ce;
    }
    #menu6{
        width:20% ;
    }
    #menu7{
        width:25% ;
    }
    
    a {
        color:black;
        text-decoration: none;
        font-size: 22px;
        padding-top: 10px;
    }
     
    .menu:hover {
        background-color: #E2E6CE;
        transition: 0.3s ease;
        opacity: 0.8;
    }
     
    .container{
        display: flex;
    }
     
    #imgcoleta{
        border-bottom: 0px #E5E9F1 solid;
        border-right: 0px #E5E9F1 solid;
        height: 10vh;
        padding-left: 15px;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .search-box{
        top: 0%;
        right: 100%;
        height: 80px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow:1px 1px 4px #bebec3;
    }
    
    .search-box:hover{
        background-color: #E2E6CE;
        transition: 0.3s ease;
        opacity: 0.8;
    }
    
    .search-txt{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: black;
        font-size: 20px;
        font-family:'Lato', sans-serif;
        line-height: 20px;
        width: 150px;
        font-weight: 500;
        text-align: left;
        padding-left: 20px;
    }
    
    .botao{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
        transition: 0.5s;
    }
    
    .search-box:hover > .botao {
        background: #b1ba82;
    }

    .search-txt::placeholder {
        color: rgb(50, 50, 50);
        font: 20px;
        font-family: 'Lato';
    }

    .area-login{
        display: flex;
        height: 640px;
        justify-content: center;
        align-items: center;
    }

    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 35px;
        font-weight: 600;
        color: #474747;
        background-color: #ffffff;
        width: 480px;
        height: 530px;
        padding-top: 35px;
        padding-left: 55px;
        padding-right: 55px;
        box-shadow: 5px 5px 6px #afbad4;
    }
    
    .login form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .login input{
        margin-top: 12px;
        background-color: #0000000d;
        padding-left: 10px;
        border: none;
        height: 44px;
        outline: none;
        border-radius: 7px;
        box-shadow: 0px 0px 2px
    }
    
    .formulario::placeholder{
        color: rgb(80, 79, 79);
        font-size: 15px;
    }
    
    form [type="submit"]{
        display: block;
        background-color: #e2e6ce;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
        box-shadow: 1px 1px 4px #afbad4;
    }
    
    p{
        color: #4f4f4f;
        font-size: 12px;
        font-weight: 100;
        padding-top: 8px;
    }
    