@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {box-sizing:border-box;}
 
*{
    margin: 0px;
    padding:0px;
}
 
body{ width: 100%;
height: 100%;
font-family:'Lato', sans-serif;;
background-color: #E5E9F1;
margin: 0;
height: 0vh;
}

 
 
.menu {
    list-style: none;
    height: 80px;
    border-right: 2px #fdfdfd solid;
    width: 100%;
    background-color: white;
    display: block;
    padding-top: 30px;   
    padding-left: 23px; 
    padding-right: 23px;
    font-size: 2.2vh;
    font-family: sans-serif;
    box-shadow:1px 1px 4px #bebec3;
    text-align: center;
   
    
   
}  
#menu1{
    width:12% ;
    padding-top:0px;
    padding-left: 7px;
    display: flex;
    
   
} 
#menu2{
    width:35%;
} 
#menu3{
    width: 55%;
}
#menu4{
    width:35% ;
}
#menu5{
    width:25% ;
}
#menu6{
    width:20% ;
}
#menu7{
    width:25% ;
}

a {
    color:black;
    text-decoration: none;
    font-size: 22px;
    padding-top: 10px;
    width: 100%;
    
    
   
     
 
}
 
.menu:hover {
    background-color: #E2E6CE;
    transition: 0.3s ease;
    opacity: 0.8;
}
 
 
.container{
    display: flex;

    
   
}
 
#imgcoleta{
    border-bottom: 0px #E5E9F1 solid;
    border-right: 0px #E5E9F1 solid;
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
        
}
 


main{background-color: white;

height: 800px;
width: 1000px;

display: flex;
flex-wrap: wrap;
margin: auto;
margin-bottom: 200px;

}

.search-box{
    top: 0%;
    right: 100%;
    height: 80px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:1px 1px 4px #bebec3;
}

.search-box:hover{
    background-color: #E2E6CE;
    transition: 0.3s ease;
    opacity: 0.8;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 20px;
    font-family:'Lato', sans-serif;
    line-height: 20px;
    width: 150px;
    font-weight: 500;
    text-align: center;
}

.botao{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: 0.5s;
}

.search-box:hover > .botao {
    background: #b1ba82;
}


#seliga{
    
    color: #757677;
    margin-top: 70px;
    font-size: 40px;
    margin-left: 800px;
    display: flex;
    padding-bottom: 70px;
    
    
}

#artigos{
    background-color: #e0e0e9;
    width: 330px;
    height: 265px;
    margin-left: 55px;
    margin-top: 135px;
    background-image: url(artigos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220px 170px;   
    
   
}

#noticia{
    padding-left: 20px;
    padding-top: 215px;
    
}

#campanhas{
    background-color: #e3e3eb;
    width: 330px;
    height: 265px;
    margin-left: 55px;
    background-image: url(campanhaseducativas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 290px 190px;
    
    
    
   
    
}

#educativas{
    padding-left: 20px;
    padding-top: 215px;
}

#separar{
   
    background-color: #D0D5D9;
    width: 280px;
    height: 265px;
    margin-top: 135px;
    background-image: url(comosepararlixo.png);
    background-size: 280px 250px;
    background-repeat: no-repeat;
    
    
    
   
}

#lixo{
    padding-left: 20px;
    padding-top: 215px;
  
}

#dicas{
    background-color: #ccccd8;
    width: 280px;
    height: 265px;
    margin-top: 135px;
    background-image: url(dicass.png);
    background-size: 255px 170px;
    background-position: center;
    background-repeat: no-repeat;
}

#cas{
    padding-left: 20px;
    padding-top: 215px;
}

#parcerias{
    background-color: #efeff5f3;
    height: 265px;
    width: 560px;
    margin-bottom: 200px;
    background-image: url(parceriaeducativa.png);
    background-size: 360px 165px;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
   
}

#edu{
    padding-left: 20px;
    padding-top: 215px;
}

#main{
    display: flex;
    flex-wrap: wrap;
}

.container2{
    display: flex;
    flex-wrap: wrap;

    
}

@media  screen and (max-width: 1300px) {
    .menu{ font-size: 1.1vh;
    }
    
}

