@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    background-color: #E5E9F1;
    margin: 0;
    height: 0vh;
}


.menu {
    list-style: none;
    height: 80px;
    border-right: 2px #fdfdfd solid;
    width: 100%;
    text-align: center;
    background-color: white;
    display: inline;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 23px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 1px 1px 4px #bebec3;


}

#menu1 {
    width: 12%;
    padding-top: 0px;
    padding-left: 20px;
    display: flex;


}

#menu2 {
    width: 35%;
    padding-top: 0px;
    background-color: #e2e6ce;

}

#menu3 {
    width: 55%;
    padding-top: 0px;
}

#menu4 {
    width: 35%;
    padding-top: 0px;
}

#menu5 {
    width: 25%;
    padding-top: 0px;
}

#menu6 {
    width: 20%;
    padding-top: 0px;
}

#menu7 {
    width: 25%;
    padding-top: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding-top: 10px;



}

.menu:hover {
    background-color: #E2E6CE;
    transition: 0.3s ease;
    opacity: 0.8;
}


.container {
    display: flex;
    text-align: center;

}

#imgcoleta {
    border-bottom: 0px #E5E9F1 solid;
    border-right: 0px #E5E9F1 solid;
    height: 65px;
    padding-left: 7px;
    padding-right: 30px;
    padding-top: 10px;

}

.search-box {
    top: 0%;
    right: 100%;
    height: 80px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 4px #bebec3;
}

.search-box:hover {
    background-color: #e1e5cd;
    transition: 0.3s ease;
    opacity: 0.8;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding-top: 0px;
    color: black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    width: 150px;
    font-weight: 500;
    text-align: center;
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: 0.5s;
}

.search-box:hover>.botao {
    background: #b1ba82;
}


.opcoeslocal{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}



.mapagoogle{
    position: relative;
    width: 950px;
    height: 340px;
    background-color: #fdfdfd00;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px, 5px, 5px #bebec3;
    border-radius: 10px;
    padding-top: 15px;
}

.mapagoogle iframe{
    width: 95%;
    height: 94%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#datas{
    background-color: #b2c26699;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    font-size: 21px;
    font-family: 'Lato';
    border-radius: 4px;
    box-shadow: 4px 4px 4px #bebec3;
    display: center;
    height: 50px;
    width: 200px;
    padding-left: 11px;
    padding-right: 10px;
    font-weight: 600;
    
}

#bairros{
    background-color: #b2c26699;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    font-size: 21px;
    font-family: 'Lato';
    border-radius: 4px;
    box-shadow: 4px 4px 4px #bebec3;
    display: center;
    height: 50px;
    width: 200px;
    padding-left: 15px;
    padding-right: 0px;
    font-weight: 600;
}

#cidades{
    background-color: #b2c26699;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    font-size: 21px;
    font-family: 'Lato';
    border-radius: 4px;
    box-shadow: 4px 4px 4px #bebec3;
    display: center;
    height: 50px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    align-items: center;
}

.fotodata{
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
}

.fotocidade{
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
}

.fotobairro{
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
}

.titulomapa{
    background-color: #ffffff;
    width: 300px;
    height: 320px;
    font-family: 'Lato';
    font-size: 41px;
    padding-right: 10px;
    padding-left: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
    
}